$(".comments_form").html("");
$("#comment_content").val("");
<% if @pic.comments.any? %>

$(".comments_form").append("<h3 id = 'com_count'>Количество коментариев: <%= @pic.comments.count %></h3>");
$(".comments_form").append("<ol class='btn-sm' id='comments'>");
$(".comments_form").append("</ol>");

$("#comments").html("<%= escape_javascript(render(@pic.comments)) %>");
<% end %>
