<footer class="footer hidden-xs">
   <small>
    <a href="http://ruby-gallery.blogspot.ru/">R-Gallery</a>
    by Aleksey Kolobov & Alexander Bakhmatov
  </small>
  <nav>
    <ul>
      <li><%= link_to "О системе",   about_path %></li>
      <li><%= link_to "Контакты", contact_path %></li>
    </ul>
  </nav>
  <%= debug(params) if Rails.env.development? %>
</footer>